In [68]:
import pandas as pd
import numpy as np

In [69]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

## Widgets

Widgets in jupyter:

https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20Basics.html

https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html

#### Simple example

In [70]:
my_cache_var = 17

def f(x):
    global my_cache_var
    my_cache_var = x
    return x

In [71]:
interact(f, x=10)
None

interactive(children=(IntSlider(value=10, description='x', max=30, min=-10), Output()), _dom_classes=('widget-…

In [72]:
my_cache_var

10

#### Widget customization

In [73]:
widgets.IntSlider(
    value=7,
    min=0,
    max=10,
    step=1,
    description='Pick Pclass:',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)

IntSlider(value=7, continuous_update=False, description='Pick Pclass:', max=10)

#### Handling events

In [74]:
from IPython.display import display

button = widgets.Button(description="Click Me!")
output = widgets.Output()

display(button, output)

def on_button_clicked(b):
    with output:
        print("Button clicked.")
    global my_cache_var
    my_cache_var = 23

button.on_click(on_button_clicked)

Button(description='Click Me!', style=ButtonStyle())

Output()

In [75]:
my_cache_var

10

#### Exercise 1.1 Read a titanic dataset and create a widget that outputs statistics on given pclass, selected by slider

In [76]:
titanic_df = pd.read_csv("titanic.csv")
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [79]:
int_range = widgets.IntSlider(
    value=7,
    min=1,
    max=3,
    step=1,
    description='Pick Pclass:',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)

output2 = widgets.Output()

display(int_range, output2)

new_value = []
def on_value_change(change):
    with output2:
        new_value.append(change['new'])
        print(change['new'])

int_range.observe(on_value_change, names='value')

IntSlider(value=3, continuous_update=False, description='Pick Pclass:', max=3, min=1)

Output()

In [83]:
slider_value = new_value[-1]

features_numeric = ['Survived', 'Pclass', 'Age', 'SibSp','Parch', 'Fare']