#### General imports

In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
titanic_df = pd.read_csv('https://raw.githubusercontent.com/ObozniyMaksym/HS_data/main/titanic.csv')
titanic_df

#### Exercise 2.1: Snapshot of aggregation apply

In [ ]:
titanic_df.groupby(['Pclass']).apply(lambda x: str(x))

Pclass
1         PassengerId  Survived  Pclass  \\n1      ...
2         PassengerId  Survived  Pclass  \\n9      ...
3         PassengerId  Survived  Pclass  \\n0      ...
dtype: object

In [ ]:
type(titanic_df.groupby(['Pclass']).apply(lambda x: str(x)))

pandas.core.series.Series

In [ ]:
titanic_df.groupby(['Pclass']).apply(lambda x: str(x)).iloc[0]

'     PassengerId  Survived  Pclass  \\\n1              2         1       1   \n3              4         1       1   \n6              7         0       1   \n11            12         1       1   \n23            24         1       1   \n27            28         0       1   \n30            31         0       1   \n31            32         1       1   \n34            35         0       1   \n35            36         0       1   \n52            53         1       1   \n54            55         0       1   \n55            56         1       1   \n61            62         1       1   \n62            63         0       1   \n64            65         0       1   \n83            84         0       1   \n88            89         1       1   \n92            93         0       1   \n96            97         0       1   \n97            98         1       1   \n102          103         0       1   \n110          111         0       1   \n118          119         0       1   \n124          125         0       1   \n136          137         1       1   \n137          138         0       1   \n139          140         0       1   \n151          152         1       1   \n155          156         0       1   \n..           ...       ...     ...   \n763          764         1       1   \n765          766         1       1   \n766          767         0       1   \n779          780         1       1   \n781          782         1       1   \n782          783         0       1   \n789          790         0       1   \n793          794         0       1   \n796          797         1       1   \n802          803         1       1   \n806          807         0       1   \n809          810         1       1   \n815          816         0       1   \n820          821         1       1   \n822          823         0       1   \n829          830         1       1   \n835          836         1       1   \n839          840         1       1   \n842          843         1       1   \n849          850         1       1   \n853          854         1       1   \n856          857         1       1   \n857          858         1       1   \n862          863         1       1   \n867          868         0       1   \n871          872         1       1   \n872          873         0       1   \n879          880         1       1   \n887          888         1       1   \n889          890         1       1   \n\n                                                  Name     Sex   Age  SibSp  \\\n1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1   \n3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1   \n6                              McCarthy, Mr. Timothy J    male  54.0      0   \n11                            Bonnell, Miss. Elizabeth  female  58.0      0   \n23                        Sloper, Mr. William Thompson    male  28.0      0   \n27                      Fortune, Mr. Charles Alexander    male  19.0      3   \n30                            Uruchurtu, Don. Manuel E    male  40.0      0   \n31      Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1   \n34                             Meyer, Mr. Edgar Joseph    male  28.0      1   \n35                      Holverson, Mr. Alexander Oskar    male  42.0      1   \n52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1   \n54                      Ostby, Mr. Engelhart Cornelius    male  65.0      0   \n55                                   Woolner, Mr. Hugh    male   NaN      0   \n61                                 Icard, Miss. Amelie  female  38.0      0   \n62                         Harris, Mr. Henry Birkhardt    male  45.0      1   \n64                               Stewart, Mr. Albert A    male   NaN      0   \n83                             Carrau, Mr. Francisco M    male  28.0      0   \n88                          Fortune, Miss. Mabel Helen  female  23.0      3   \n92                         Chaffee, Mr. Herbert Fuller    male  46.0      1   \n96                           Goldschmidt, Mr. George B    male  71.0      0   \n97                     Greenfield, Mr. William Bertram    male  23.0      0   \n102                          White, Mr. Richard Frasar    male  21.0      0   \n110                     Porter, Mr. Walter Chamberlain    male  47.0      0   \n118                           Baxter, Mr. Quigg Edmond    male  24.0      0   \n124                        White, Mr. Percival Wayland    male  54.0      0   \n136                       Newsom, Miss. Helen Monypeny  female  19.0      0   \n137                        Futrelle, Mr. Jacques Heath    male  37.0      1   \n139                                 Giglio, Mr. Victor    male  24.0      0   \n151                  Pears, Mrs. Thomas (Edith Wearne)  female  22.0      1   \n155                        Williams, Mr. Charles Duane    male  51.0      0   \n..                                                 ...     ...   ...    ...   \n763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.0      1   \n765               Hogeboom, Mrs. John C (Anna Andrews)  female  51.0      1   \n766                          Brewe, Dr. Arthur Jackson    male   NaN      0   \n779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.0      0   \n781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.0      1   \n782                             Long, Mr. Milton Clyde    male  29.0      0   \n789                           Guggenheim, Mr. Benjamin    male  46.0      0   \n793                           Hoyt, Mr. William Fisher    male   NaN      0   \n796                        Leader, Dr. Alice (Farnham)  female  49.0      0   \n802                Carter, Master. William Thornton II    male  11.0      1   \n806                             Andrews, Mr. Thomas Jr    male  39.0      0   \n809     Chambers, Mrs. Norman Campbell (Bertha Griggs)  female  33.0      1   \n815                                   Fry, Mr. Richard    male   NaN      0   \n820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.0      1   \n822                    Reuchlin, Jonkheer. John George    male  38.0      0   \n829          Stone, Mrs. George Nelson (Martha Evelyn)  female  62.0      0   \n835                        Compton, Miss. Sara Rebecca  female  39.0      1   \n839                               Marechal, Mr. Pierre    male   NaN      0   \n842                            Serepeca, Miss. Augusta  female  30.0      0   \n849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female   NaN      1   \n853                          Lines, Miss. Mary Conover  female  16.0      0   \n856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1   \n857                             Daly, Mr. Peter Denis     male  51.0      0   \n862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0   \n867               Roebling, Mr. Washington Augustus II    male  31.0      0   \n871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1   \n872                           Carlsson, Mr. Frans Olof    male  33.0      0   \n879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0   \n887                       Graham, Miss. Margaret Edith  female  19.0      0   \n889                              Behr, Mr. Karl Howell    male  26.0      0   \n\n     Parch       Ticket      Fare        Cabin Embarked  \n1        0     PC 17599   71.2833          C85        C  \n3        0       113803   53.1000         C123        S  \n6        0        17463   51.8625          E46        S  \n11       0       113783   26.5500         C103        S  \n23       0       113788   35.5000           A6        S  \n27       2        19950  263.0000  C23 C25 C27        S  \n30       0     PC 17601   27.7208          NaN        C  \n31       0     PC 17569  146.5208          B78        C  \n34       0     PC 17604   82.1708          NaN        C  \n35       0       113789   52.0000          NaN        S  \n52       0     PC 17572   76.7292          D33        C  \n54       1       113509   61.9792          B30        C  \n55       0        19947   35.5000          C52        S  \n61       0       113572   80.0000          B28      NaN  \n62       0        36973   83.4750          C83        S  \n64       0     PC 17605   27.7208          NaN        C  \n83       0       113059   47.1000          NaN        S  \n88       2        19950  263.0000  C23 C25 C27        S  \n92       0  W.E.P. 5734   61.1750          E31        S  \n96       0     PC 17754   34.6542           A5        C  \n97       1     PC 17759   63.3583      D10 D12        C  \n102      1        35281   77.2875          D26        S  \n110      0       110465   52.0000         C110        S  \n118      1     PC 17558  247.5208      B58 B60        C  \n124      1        35281   77.2875          D26        S  \n136      2        11752   26.2833          D47        S  \n137      0       113803   53.1000         C123        S  \n139      0     PC 17593   79.2000          B86        C  \n151      0       113776   66.6000           C2        S  \n155      1     PC 17597   61.3792          NaN        C  \n..     ...          ...       ...          ...      ...  \n763      2       113760  120.0000      B96 B98        S  \n765      0        13502   77.9583          D11        S  \n766      0       112379   39.6000          NaN        C  \n779      1        24160  211.3375           B3        S  \n781      0        17474   57.0000          B20        S  \n782      0       113501   30.0000           D6        S  \n789      0     PC 17593   79.2000      B82 B84        C  \n793      0     PC 17600   30.6958          NaN        C  \n796      0        17465   25.9292          D17        S  \n802      2       113760  120.0000      B96 B98        S  \n806      0       112050    0.0000          A36        S  \n809      0       113806   53.1000           E8        S  \n815      0       112058    0.0000         B102        S  \n820      1        12749   93.5000          B69        S  \n822      0        19972    0.0000          NaN        S  \n829      0       113572   80.0000          B28      NaN  \n835      1     PC 17756   83.1583          E49        C  \n839      0        11774   29.7000          C47        C  \n842      0       113798   31.0000          NaN        C  \n849      0        17453   89.1042          C92        C  \n853      1     PC 17592   39.4000          D28        S  \n856      1        36928  164.8667          NaN        S  \n857      0       113055   26.5500          E17        S  \n862      0        17466   25.9292          D17        S  \n867      0     PC 17590   50.4958          A24        S  \n871      1        11751   52.5542          D35        S  \n872      0          695    5.0000  B51 B53 B55        S  \n879      1        11767   83.1583          C50        C  \n887      0       112053   30.0000          B42        S  \n889      0       111369   30.0000         C148        C  \n\n[216 rows x 12 columns]'

In [ ]:
titanic_df.groupby(['Pclass']).apply(lambda x: type(x))

Pclass
1    <class 'pandas.core.frame.DataFrame'>
2    <class 'pandas.core.frame.DataFrame'>
3    <class 'pandas.core.frame.DataFrame'>
dtype: object

#### Writing a function for aggregation apply

In [ ]:
def aggregation_apply_1(chunk_df):
    
    return chunk_df['Fare'].mean()

In [ ]:
titanic_df.groupby(['Pclass']).apply(aggregation_apply_1)

Pclass
1    84.154687
2    20.662183
3    13.675550
dtype: float64

In [ ]:
type(titanic_df.groupby(['Pclass']).apply(aggregation_apply))

pandas.core.series.Series

In [ ]:
def aggregation_apply_2(chunk_df):
    
    return chunk_df[ ['Fare','Survived']].mean()

In [ ]:
titanic_df.groupby(['Pclass']).apply(aggregation_apply_2)

             Fare  Survived
Pclass
1       84.154687  0.629630
2       20.662183  0.472826
3       13.675550  0.242363

In [ ]:
def aggregation_apply_3(chunk_df):
    
    out_series = chunk_df[ ['Fare','Survived']].mean()
    out_series['my_var'] = chunk_df['Pclass'].iloc[0]
    
    return out_series

In [ ]:
titanic_df.groupby(['Pclass']).apply(aggregation_apply_3)

             Fare  Survived  my_var
Pclass
1       84.154687  0.629630     1.0
2       20.662183  0.472826     2.0
3       13.675550  0.242363     3.0

#### Exercise 2.2: Construct another aggregation apply function

In [ ]:
def my_groupby(df, ind, col):
  if df[col].loc[ind] > 19:
    return "Adults"
  elif df[col].loc[ind] > 12:
    return "Teenagers"
  else:
    return "Children"

In [ ]:
new_aggr = titanic_df.groupby(lambda x : my_groupby(titanic_df, x, 'Age'))
new_aggr

In [ ]:
new_aggr.loc['Teenagers']

PassengerId    440.221053
Survived         0.410526
Pclass           2.452632
Age             17.215789
SibSp            0.568421
Parch            0.400000
Fare            31.982414
Name: Teenagers, dtype: float64

In [ ]:
new_aggr.loc['Adults', 'Survived']

0.3836363636363636

#### Exercise 1.3 Perform agregation on new set of parameters

In [ ]:
def my_apply_func(chunk_df):
  status = 'Rich'
  
  out_series = chunk_df[ ['Fare','Survived']].mean()
  out_series['Status'] = chunk_df['Fare'] > 50
  return  out_series

In [ ]:
kek = titanic_df.groupby(lambda x : my_groupby(titanic_df, x, 'Age')).apply(lambda x : my_apply_func(x))
kek

                Fare  ...                                             Status
Adults     35.559173  ...  9      False
14      True
22     False
27     ...
Children   24.788921  ...  9      False
14     False
22     False
27     ...
Teenagers  31.982414  ...  9      False
14     False
22     False
27     ...

[3 rows x 3 columns]

Adults       550
Children     246
Teenagers     95
dtype: int64